body{
    position:relative;
}
.bloc-page{
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
}

#contact_modal {
    display: none;
    z-index: 1;
}

header{
    margin: 2rem 0;
}

.logo{
    height: 50px;
}
.photograph-header {
    display:flex;
    gap:12rem;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin-left: 20px;
}

.photograph-header-infos h1{
    color:#D3573C;
    font-family: "DM Sans", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 83px;
    margin: 0;
    text-align: left;
}

.photograph-header-infos p{
    margin: 1rem 0;
}

.photograph-header-infos p.location{
    color:#901C1C;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 31px;
    margin: 0.5rem 0;
    text-align: left;
}

.photograph-header-infos p.tagline{
    color: #525252;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
     margin: 0.5rem 0;
    text-align: left;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-header-portrait img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 25rem;
}

.sorter-form-wrapper {
    margin-bottom: 3rem;
}

.sorter-form-wrapper label{
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.sorter-form-wrapper select{
    color: white;
    border: none;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    background: #901C1C;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.1rem;
    width: 11rem;
}

.media-sorter{
    height: 100px;
}

.photograph-media{
    display:flex;
    flex-wrap: wrap;
    gap:5rem;
    
}
.photograph-medium{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}
.medium-container img{
    width: 350px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.medium-container video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    object-position: top;
}

.infos-container{
    display:flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.infos-container h3 {
    margin:0;
}

i {
    color:red;
    font-style: normal;
    font-family: FontAwesome;
    
}

/* Modal */

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* ----------- Global CSS | intab.io ------------ */
div.slider {
  
  display: flex;
  justify-content: space-around;
  background: #FFFFFF;
}

div.slider-media {
  width: 1253px;
  height: 984px;
}

img.slide-medium {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: top; */
  
}

div.slide {
  width: 1253px;
  height: 984px;
}

video.slide-medium {
  width: 100%;
  height: 100%;
}

button.next-slide {
  font-size: 52px;
  border: 2px none #00000000;
  background: #E8D6D600;
  opacity: 1;
  font-family: sans-serif;
  color: #901C1C;
}